@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Crimson Text, sans-serif;
    font-weight: 300;
    color:#242122
}

/* Headings and logo */

h1, h2 {
    font-family: Crimson Text, sans-serif;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 200%;
}

/* Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #999094;
}

#menu a:hover {
    border-bottom: 1px solid #999094;
}

.active {
    border-bottom: 1px solid #999094;
}