@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Crimson Text, sans-serif;
    font-weight: 300;
    color:#242122
}

/* Headings and logo */

#header-background {
    width: 100vw;
    height: 5vw;
    background-color: #fff8f8;
}

h2 {
    font-family: Crimson Text, sans-serif;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 180%;
    color: #baadb5;
    font-family: Crimson Text, sans-serif;
    margin-left: 30px;
}

/* Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 3rem;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #baadb5;
}

#menu a:hover {
    border-bottom: 1px solid #baadb5;
}

.active {
    border-bottom: 1px solid #baadb5;
}

/* Body and Hero image */

#hero-outer {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#cover-text, #cover-text h1, #cover-text h3 {
    color: cornsilk;
}

#hero-image {
    width: 100%;
    height: 800px;
    background: url('../images/Hero\ image.JPG') no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
 animation-name: hero-zoom;
 animation-duration: 10s;
 animation-fill-mode: forwards;
}

 

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.15);
    }
}

#cover-text {
    font-size: 320%;
    font-family: Dancing Script, sans-serif;
    letter-spacing: 4px;
    width: 520px;
    height: 400px;
    bottom: 120px;
    right: 150px;
    position: absolute;
    text-align: center;
}

#countdown {
    width: 500px;
    height: 200px;
    bottom: 10px;
    right: 100px;
    position: absolute;
}

/* Footer - Contacts */

#footer {
    width: 100vw;
    height: 30vh;
    background-color: #fff8f8;
}

.circle-picture {
    width: 9em;
    height: 9em;
    border-radius: 50%;
}

#contacts {
    text-align: center;
}

#contacts-text {
    font-size: 200%;
    margin-left: 30px;
    letter-spacing: 4px;
    text-align: center;
}

.contact-person {
    display: inline-block;
}

#person1 {
    width: 33%;
}

#person2 {
    width: 33%;
}

#person3 {
    width: 33%;
}

/* Form */

#rsvp {
    background-image: radial-gradient(circle, #fcc38e, #fab997, #f4b1a0, #e9aba8, #daa6ad);
    height: 800px;
}

#left-column {
    padding-top: 3rem;
    width: 25%;
    float: left;
    display: inline-block;
}

#right-column {
    padding-top: 3rem;
    width: 75%;
    float: right;
    font-size: 180%;
}

#first-img {
    background-image: url('../images/couple.png') norepeat;
    background-size: contain;
    background-position: center center;
}

#second-img {
    background-image: url('../images/calendar-heart.png') norepeat;
}

#third-img {
    background-image: url('../images/wedding-food.png') norepeat;
}

.left-img {
    width: 60%;
    line-height: 2.5rem;
    clear: both;
    margin-bottom: 1.7rem;
    float: right;
}

.right-content { 
    width: 60%;
    line-height: 2.5rem;
    clear: both;
    margin-bottom: 1.7rem;
}

#name {
    font-size: x-large;
}

#info-for-allergy {
    font-size: x-large;
}

/* Schedule */

#schedule {
    background-image: radial-gradient(circle, #fcc38e, #fab997, #f4b1a0, #e9aba8, #daa6ad);
    background-size: contain;
    text-align: center;
    letter-spacing: 2px;
    height: 800px;
    width: 100%;
    display: block;
}

#schedule section {
    margin-bottom: 2.5rem;
}

#schedule h1 {
    padding-top: 2rem;
    font-size: 300%;
}

/* Location */

#location {
    height: 800px;
    width: 100%;
}

#location h1 {
    text-align: center;
    font-size: 300%;
    padding: 5rem 0;
}

#location a {
    text-decoration: none;
    width: 50%;
    float: right;
    padding-right: 2.5rem;
    color: #000;
    font-size: 200%;
}

#location p{
    text-align: center;
}