@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Crimson Text", sans-serif;
    font-weight: 300;
    color: #7f6d73;
}

/* Headings and logo */

#header-background {
    width: 100%;
    height: 60px;
    background-color: #fff8f8;
}

h2 {
    font-family: "Crimson Text", sans-serif;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 180%;
    color: #4e1c22;
    font-family: "Crimson Text", sans-serif;
    margin-left: 30px;
}

#logo:hover {
    color: #a86c6c;
}

/* Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 3rem;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #4e1c22;
}

#menu a:hover {
    border-bottom: 1px solid #a86c6c;
    color: #a86c6c;
}

.active {
    border-bottom: 1px solid #baadb5;
}

/* Body and Hero image */

#hero-outer {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#cover-text, #cover-text h1, #cover-text h3 {
    color: #fff8dc;
}

#hero-image {
    width: 100%;
    height: 800px;
    background: url('../images/Hero\ image.webp') no-repeat center center;
    background-size: cover;
    background-color: rgb(0, 0, 0);

    /* animates zoom effect on loading page */
 animation-name: hero-zoom;
 animation-duration: 10s;
 animation-fill-mode: forwards;
}

 

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.15);
    }
}

#cover-text {
    font-size: 320%;
    font-family: "Dancing Script", sans-serif;
    letter-spacing: 4px;
    width: 520px;
    height: 400px;
    bottom: 120px;
    right: 5rem;
    position: absolute;
    text-align: center;
}

#countdown {
    width: 500px;
    height: 200px;
    bottom: 10px;
    right: 5rem;
    position: absolute;
}

/* Footer - Contacts */

#footer {
    width: 100%;
    height: 19rem;
    background-color: #fff8f8;
    padding-top: 10px;
}

.circle-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#contacts {
    text-align: center;
}

#contacts-text {
    font-size: 200%;
    letter-spacing: 4px;
    text-align: center;
}

.contact-person {
    display: inline-block;
}

#person1 {
    width: 33%;
}

#person2 {
    width: 33%;
}

#person3 {
    width: 33%;
}

/* Form */

#rsvp {
    background-image: radial-gradient(circle, #fcc38e, #fab997, #f4b1a0, #e9aba8, #daa6ad);
    height: 820px;
}

#left-column {
    padding-top: 3.5rem;
    width: 25%;
    float: left;
}

#right-column {
    padding-top: 3rem;
    width: 75%;
    float: right;
    font-size: 180%;
}

.left-img {
    width: 60%;
    line-height: 2.5rem;
    clear: both;
    margin-bottom: 1.7rem;
    float: right;
}

#first-img > img {
    width: 50%;
}

#second-img > img {
    width: 50%;
}

#third-img > img {
    width: 50%;
    padding: 2rem 0;
}

.right-content { 
    width: 60%;
    line-height: 3rem;
    clear: both;
    margin-bottom: 2rem;
}

#name {
    font-size: x-large;
}

#info-for-allergy {
    font-size: x-large;
}

button > img {
    width: 3rem;
}

/* Schedule */

#schedule {
    background-image: radial-gradient(circle, #fcc38e, #fab997, #f4b1a0, #e9aba8, #daa6ad);
    background-size: contain;
    text-align: center;
    letter-spacing: 2px;
    height: 800px;
    width: 100%;
    display: block;
}

#schedule section {
    margin-bottom: 2.5rem;
}

#schedule h1 {
    padding-top: 2rem;
    font-size: 300%;
    font-family: "Dancing Script", sans-serif;
}

/* Location */

#location {
    height: 500px;
    width: 100%;
}

#location-background {
    background-image: radial-gradient(circle, #fcc38e, #fab997, #f4b1a0, #e9aba8, #daa6ad);
    background-size: contain;
}

#location h1 {
    text-align: center;
    font-size: 300%;
    padding: 5rem 0 2rem;
    font-family: "Dancing Script", sans-serif;
}

#location p{
    text-align: center;
}

#hotel-logo > img {
    width: 10rem;
    height: 10rem;
    display: inherit;
    margin: 0 auto 2rem;
}

#hotel-link{
    display: block;
    text-align: center;
} 

#hotel-link a {
    text-decoration: none;
    color: #7f6d73;
    font-size: 200%;
    display: inline;
    
}

#hotel-link a:hover {
    color: #baadb5;
}

#hotel p {
    font-size: 140%;
}

#hotel-pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    display: grid;
    align-items: stretch;
    margin: 0 0 2rem;
}

#hotel-pictures > img {
    width: 100%;
    display: inline-block;
    grid-row: 1;
}

#map {
    height: 300px;
}

#map > iframe {
    height: 260px;
    width: 95%;
    margin: 0 2%;
    border: 5px double black;
}

/* Honeymoon */

#honeymoon {
    background-image: radial-gradient(circle, #fcc38e, #fab997, #f4b1a0, #e9aba8, #daa6ad);
    height: 900px;
}

#welcome {
    text-align: center;
    padding: 3rem 0 5rem;
}

#welcome h1 {
    font-size: 300%;
    padding: 0 0 5rem;
    font-family: "Dancing Script", sans-serif;
}

#welcome h4 {
    font-size: 200%;
    padding: 0 25rem;
    font-weight: 500;
}

.destination-column {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.destination-column img {
    width: 95%;
    display: inline-block;
    height: 17rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.destination-text {
    font-size: xx-large;
}

/* Media queires */

/*For larger to medium screen size form 1200px wide and down */
@media screen and (max-width: 1200px) {
    
    /* index.html */

    #cover-text {
        font-size: 320%;
        font-family: "Dancing Script", sans-serif;
        letter-spacing: 4px;
        width: 520px;
        height: 400px;
        bottom: 120px;
        right: 1rem;
        position: absolute;
        text-align: center;
    }
    
    #countdown {
        width: 500px;
        height: 200px;
        bottom: 10px;
        right: 1rem;
        position: absolute;
    }    

    /* honeymoon.html*/

    #honeymoon {
        height: 850px;
    }

    #welcome h4 {
        font-size: 200%;
        padding: 0 16rem;
        font-weight: 500;
    }

    .destination-column img {
        width: 80%;
        display: inline-block;
        height: 14rem;
        border-radius: 10px;
    }

    /* rsvp.html */

    .left-img {
        width: 60%;
        line-height: 2.5rem;
        clear: both;
        margin-bottom: 5rem;
        float: right;
    }

}

/* For medium sreen seizes from 950px wide and down */
@media screen and (max-width: 950px) {
    
    /* index.html*/

    #hero-image {
        background-position: 37% -4rem;
    }    

    #cover-text {
        font-size: 150%;
        font-family: "Dancing Script", sans-serif;
        letter-spacing: 3px;
        width: 100%;
        height: 250px;
        bottom: 120px;
        right: 1rem;
        position: absolute;
        text-align: center;
    }
    
    #countdown {
        width: 340px;
        height: 230px;
        bottom: 10px;
        right: 3rem;
        position: absolute;
    }

    /* Header */

    #header-background {
    width: 100%;
    height: 7.5rem;
    background-color: #fff8f8;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    /* Footer */

    #person1 {
        width: 50%;
    }
    
    #person2 {
        width: 50%;
        float: right;
    }
    
    #person3 {
        width: 50%;
    }

    /* honeymoon.html */

    #honeymoon {
        height: 1600px;
    }

    #welcome h4 {
        font-size: 150%;
        padding: 0 3rem;
        font-weight: 500;
    }

    .destination-column {
        width: 80%;
        height: 380px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .destination-column img {
        width: 80%;
        height: 16rem;
        border-radius: 10px;
    }

    .destination-text {
        margin-bottom: 3rem;
    }

    /* rsvp.html */
    
    #left-column {
        padding-top: 3rem;
        width: 25%;
        float: left;
    }
    
    #right-column {
        padding-top: 3rem;
        width: 75%;
        float: right;
        font-size: 120%;
    }
    
    .left-img {
        width: 60%;
        line-height: inherit;
        clear: both;
        margin: 0 0 7rem;
        float: right;
    }
    
    #first-img > img {
        width: 50%;
        height: 3rem;
        padding-top: 1rem;
    }
    
    #second-img > img {
        width: 50%;
        height: 3rem;
    }
    
    #third-img > img {
        width: 50%;
        height: 3rem;
        padding: 2rem 0;
    }
    .right-content { 
        width: 90%;
        line-height: 3rem;
        clear: both;
        margin-bottom: 2rem;
    }
    
    #name {
        font-size: x-large;
        width: 95%;
    }
    
    #info-for-allergy {
        font-size: x-large;
        width: 95%;
    }
    
    button > img {
        width: 3rem;
    }
}